.App {
  display: flex;
  justify-content: center;
}

form {
  background-color: rgb(126, 164, 202);
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
  padding: 20px;
  border: 1px solid rgb(66, 66, 66);
  border-radius: 10px;
  max-width: 500px;
  box-shadow: 0 0 1px 0 #102243 inset, 1px 3px 4px 1px #102243;
}

button {
  font-family: Roboto;

  cursor: pointer;
  margin-top: 15px;
  border-radius: 8px;
  border: 1px solid rgb(255, 255, 255);
  width: 250px;
  height: 50px;
  box-shadow: 0 0 4px 0 #102243 inset, 0 0 4px 1px #102243;
  font-size: 12px;
  background-color: rgb(188, 206, 232);
  font-size: large;
}

button:hover {
  font-size: large;
  background-color: rgb(188, 232, 192);
}

button:disabled {
  font-size: large;
  border: 1px solid rgb(131, 13, 13);
  box-shadow: 0 0 10px 4px rgb(223, 81, 81) inset, 0 0 4px 1px #102243;
  color: rgb(58, 58, 58);
}
button:disabled:hover {
  background-color: rgb(210, 158, 158);
  box-shadow: 0 0 15px 4px rgb(215, 86, 86) inset, 0 0 4px 1px #102243;
  font-weight: 600;
}
.resetBut {
  font-size: large;
  background-color: rgb(226, 168, 168);
}
.resetBut:hover {
  background-color: rgb(227, 97, 97);
}
input {
  padding-left: 8px;
  height: 40px;
  margin-bottom: 10px;
  font-family: Roboto;
  font-size: large;
  background-color: rgb(243, 242, 242);
  border-radius: 3px;
  border: 1px solid #000;
  outline-color: transparent;
  box-shadow: 0 0 4px 0 #0a162b inset, 0 0 4px 1px #102243;
  color: #4d4d4d;
}
